<h1>Event List</h1>


<ol>
  <% @events.each do |event| %>
    <li><%= event.game.name %>
    <%= event.details %>
    <%= event.date %>
    <%= cl_image_tag event.game.photo %>
    </li>
  <%end%>

</ol>
