

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


//navbar-logoGG
.navbar-lewagon .navbar-brand img {
  width: 100px;
}
ul.navbar-nav .mr-auto {
  width: 80vW;
  display: flex;
  justify-content: space-around;
}


.home{
  position: relative;

   &:hover:before {
    position: absolute;
    content: 'Home';
    top: -20px;
    font-size: x-small;
      }
}

.mes-parties{
  position: relative;

   &:hover:before {
    position: absolute;
    content: 'Mes parties';
    top: -20px;
    font-size: x-small;
      }

}

.ta-partie{
  position: relative;

   &:hover:before {
    position: absolute;
    content: 'Crée ta partie';
    top: -20px;
    font-size: x-small;
      }
}

.jeux{
  position: relative;

   &:hover:before {
    position: absolute;
    content: 'Les jeux';
    top: -20px;
    font-size: x-small;
      }
}

